.about-edu {
    /* height: 68vh; */
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    gap: 50px;
    /* align-items: center; */
    /* padding: 109px; */
    margin: 4rem 0rem 5rem;
  }
.about-edu h1{font-weight: 300;
    font-size: 2.3rem;}

  .about{
    width: 30%;
    /* padding: 25px; */
    padding-right: 3rem;
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .edu{
    border-bottom: 1px solid gray;  
padding-bottom: 5px;}
  .edu-year
{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
}
.education{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.about-head{
    font-size: 3.7rem;
    color: aliceblue;
    font-weight: 300;
    /* margin: 50px; */
    /* padding: 50px; */
    padding-left: 100px;
    padding-top: 50px;
}
HiOutlineDocumentArrowDown{
    font-size: x-large;
}
.about-edu a{
    background: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 13rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: all 1s;
    cursor: pointer;
}
.about-edu a:hover{
    background: linear-gradient(90deg, rgb(39 125 101) 0%, rgb(28 86 68) 100%);
    color: aliceblue;
}
