.about-edu {
    height: 68vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    gap: 50px;
    align-items: center;
    padding: 109px;
  }