/* projets */
.projects {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: center; */
  /* overflow-x: hidden; */
  /* translate: none; */
  /* rotate: none; */
  /* scale: none; */
  /* inset: 0px auto auto 0px; */
  margin: 0px;
  /* max-width: 4523.04px;
  width: 4523.04px; */
  /* background: black; */
  /* width: 4000px; */

  padding: 90px;
  /* transform: translate(0px, 0px); */
  /* height: 100vh; */
}
.prights {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 45px;
  flex-wrap: wrap;
  /* width: 700px; */
}
.sectionProjects {
  color: whitesmoke;
  /* overflow: hidden;  */
  background: linear-gradient(90deg, rgb(14 14 26) 0%, rgb(11 11 18) 98%);
  /* background-color: #070c33; */
}
.project {
  width: 25vw;
  /* height: 50vh; */
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  /* background: rgb(20, 19, 19); */
  /* background: rgb(8 37 37); */
  /* background: rgb(50 60 60 / 30%); */
  /* background: rgb(24 38 53 / 30%); */
  background:rgb(51 67 84 / 30%);
  transition: all 0.5s;
  
}
/* .project:hover{
    scale: 1.05;
    box-shadow:0px 0px 35px rgba(0, 140, 255, 0.134) ;
} */
.live {
  display: flex;
  /* gap: 5px; */
  justify-content: space-between;
}
.projects a {
  /* background: white;  */
    padding: 0.5rem 0rem;
    border-radius: 0.3rem;
    /* width: 8rem; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: medium;
    text-decoration: none;
    /* color: #41ffed; */
    color: #b768ff;
    font-weight: 500;
    transition: all 0.5s;
    cursor: pointer;
}

.projects a:hover  {
  scale: 1.08;
    color: #ffffffb0;;
}
.projects a:hover > .live-icon {
  /* scale: 1.08; */
  color: #b768ff
}
.live-icon{
  color: aliceblue;
  font-size: 1.4rem;
  transition: all 0.5s;

}
.pleft {
  /* font-size: xx-large; */
  /* padding: 50px; */
  display: flex;
  flex-direction: column;
  gap: 45px;
  /* width: 30vw; */
  padding-right: 0em;
  /* justify-content: space-between; */
}
.pleft h2 {
  margin: 0;
  font-size: 4.7rem;
  font-weight: 500;
  background: -webkit-linear-gradient(#46beff, #031c6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pleft p {
  font-size: 1.05rem;
}

.marquee {
  font-size: 50px;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(226, 243, 255);
  /* -webkit-text-stroke-color: rgb(58 255 113);; */

}

/* after paralox sb set krne ke liye css */

.pimg img {
  /* width: 28.7em; */
      width: 23.8em;

}
.desc {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  height: 100%;
}
.techstack {
  display: flex;
  gap: 5px;
}


.p-name{
  font-weight: 500;
    color: #4eff79;
    margin: 0;
}
.p-description{
  color:#b3ceffc4;
}

.pimg{
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
}