@media screen and (min-width: 768px) and (max-width: 1000px) {
}
@media only screen and (max-width: 800px) {
    .home {
      flex-wrap: wrap;
      margin: 30px 0px 0px;
      width: 100vw;
      padding: 0px;
    }
    .home .left {
      font-size: x-large;
      align-items: center;
    }
    .f {
      width: 397px;
      height: 69px;
    }
    .home img {
      width: 250px;
    }
    .sectionHome {
      /* position: fixed; */
      left: 0em;
    }
    .projects{
      flex-wrap: wrap;
    }
    .prights{
      flex-wrap: wrap;
      /* background: black; */
    }
    .grid{
      padding: 0rem 2rem;
    }
    .grid .white{
      font-size: 4rem;
    }
  }
  

@media screen and (max-width: 768px) {
  .about-head {
    padding-left: 40px;
    font-size: 3rem;
    margin-bottom: 40px;
  }
  .about-edu{
    margin: 0px;
    gap: 0px;
  }
  .about {
    border-right: 0px;
    padding-right: 0rem;
    padding: 2rem;
  }
  .education {
    padding: 2rem;
    font-size: x-small;
  }
  .edu-year {
    gap: 0px;
  }
  .wrap {
    display: none;
  }
  .projects{
    padding: 0px;
    gap: 20px;
  }
  .pleft h2 {
    font-size: 3rem;
    padding: 2rem;

  }
  marquee{
    font-size: 30px;
    -webkit-text-stroke-width: 0.3px;
  }
  .project{
    width: 85vw;
    overflow: hidden;
  }
  .prights{
    background: transparent;

  }
  .boldTitle{
    font-size: 2rem;
  }
  .experience{
        padding: 2rem;

  }
  .e-head{
        font-size: 3.2rem;

  }
  .experience-detail {
    padding: 0;
        margin: 20px 0px;

  }
  .experience-detail .h2 {
        font-size: 0.4rem;
    height: 100%;
        margin-bottom: 10px;

  }
  .experience-detail .des,.er {
        font-size: 0.8rem;

  }
  .line{
    width: 100%;
    left: 0;
  }
/* .el{
      width: 132%;

} */
}
