/* .skill{
    color: white;
    height: 100vh;
} */
#dragger-container {
    width: 200px;
    height: 200px;
}
.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .dragger {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 1}

.poly{
    z-index: 10;
    background: linear-gradient(rgba(180, 231, 248, 0.15) 0%, rgba(8, 72, 94, 0.25) 50%, rgba(21, 37, 40, 0.75) 100%);
    color: rgb(255, 255, 255);
    width: 400px;
    height: 300px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    clip-path: polygon(0% 100%, 50% 0%, 50% 0%, 100% 100%);
    backdrop-filter: blur(20px);
    filter: none;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
}
.wrap{
    position: absolute;
    display: block;
    pointer-events: auto;
    left: 79px;
    z-index: 10;
    visibility: visible;
    perspective: 601px;
    transform: translate(10.47px, 0px);
    /* top: -149px; */
}