body {
  margin: 0px;
  padding: 0px;
  --font-family: "Inter", sans-serif;
  --font-family-extra: "DM Sans", sans-serif;
  --font-family-oswald: "Oswald", sans-serif;
  --font-family-kaushan: "Kaushan Script", cursive;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 1px;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav a {
  text-decoration: none;
  color: aliceblue;
  display: flex;
  align-items: center;

  gap: 5px;
}
.nav svg {
  font-size: 23px;
}
.outer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: #080a24; */
  /* color: #203e03; */
  background-color: #152704;
  width: 75%;
  color: aliceblue;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}
.outer img {
  width: 34px;
  filter: invert(1);
}
.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 47px;
}

/* home section */
.sectionHome{
  height: 100vh;
}
.home {
  display: flex;
  justify-content: center;
  gap: 10em;
  padding: 50px;
  margin: 50px;
  /* height: 80vh; */
}
.home .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.home img {
  width: 307px;
  border-radius: 11px 62px;
  filter: brightness(1.15);
}
.home h3 {
  letter-spacing: 2px;
  color: #00000099;
  font-weight: 500;
  font-size: 20px;

  font-family: system-ui;
}
.home h1 {
  /* color: #203e03; */
  color: #0e1804;
  font-size: 65px;
  /* font-family: canopee; */
  font-family: system-ui;
      font-variant-caps: petite-caps;
}
.home .kbtn button{
  cursor: pointer;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    color:  #091a05;
    background:#dbffb7  ;
    transition: all 0.5s;
}
.home .kbtn button:hover{

  color: #dbffb7;
    background: #091a05;
}
.kbtn{
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
}
.slinks{
  display: flex;
    align-items: center;
    font-size: xx-large;
    gap: 10px;
}
.slinks a{
  color:#172c08 ;
  padding-top: 5px;
  transition: all 0.5s;
}
.slinks a:hover{
  color:#94c274 ;
  scale: 1.1;
  /* padding-top: 5px;/ */

}

/* animation =========================== */
.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  /* background: rgba(255, 255, 255, 0.2); */
  /* background: rgb(29 45 9 / 36%);
   */
  background: rgb(136 216 36 / 36%);

  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  /* width: 20px;
  height: 20px; */
  animation-delay: 2s;
  animation-duration: 12s;
  width: 52px;
  height: 52px;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 112px;
  height: 110px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 10s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 100px;
  height: 100px;
  animation-delay: 1s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.f {
  /* width: 500px; */
  overflow: hidden;
  height: 123px;
  /* border: 2px solid red; */
}

.fff {
  /* content: "."; */
  position: relative;
  top: -90px;
  height: 100px;
  /* padding-left: 30px; */
  color: #0e3a06;
  /* width: 526px; */
  width: 609px;
  left: -110px;

  background: #d4ffa7;
  animation: textrotate 3s linear infinite;
  /* -webkit-animation: textrotate 3s linear infinite; */
}
@keyframes textrotate {
  0% {
    /* content: 'Developer'; */
    width: 0px;
    /* left: 235px; */

    /* left:0; */
  }
  49% {
    /* content: 'Designer'; */
    /* left:10; */
    /* width: 200px; */
    width: 609px;
  }
  50% {
    left: -110px;
  }
  100% {
    /* content: 'Animator'; */
    /* left:0; */
    /* width: 11%; */
    /* width: 0px; */

    left: 1710px;
  }
}

.home .f {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* animation: animation1 5s  infinite ease-in; */
  /* animation-delay: 1s; */
}

/* @keyframes animation1 {
  0%{
     opacity: 0; */
/* display: none; */
/* }
  
} */

/* .home .b{ */
/* animation: name duration timing-function delay iteration-count direction fill-mode; */
/* animation: animation2 5s  infinite ease-in; */
/* animation-delay: 4s; */

/* } */

/* @keyframes animation2{
  0%{
     opacity: 0;
     /* display: none; */
/*}
  
} */

/* projets */
.projects{
  display: flex;
  gap: 20px;
  /* justify-content: center; */
  /* align-items: center; */
  /* overflow-x: hidden; */
}
.prights{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* width: 700px; */

}
.project{
  width: 700px;
  height: 350px;
  background-color: red;
}

/* after paralox sb set krne ke liye css */
.sectionHome{
  position: fixed;
  left: 60px;
}

.sectionProjects{
  position: relative;
  top: 100vh;
}