body{
  margin: 0px;
  padding: 0px;
     --font-family: "Inter", sans-serif; 
    --font-family-extra: "DM Sans", sans-serif;
    --font-family-oswald: "Oswald", sans-serif;
    --font-family-kaushan: "Kaushan Script", cursive;
    font-family:"DM Sans", sans-serif;
    letter-spacing: 1px;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.outer{
  display: flex;
  justify-content: space-around;
  align-items: center;
     /* background: #080a24; */
  /* color: #203e03; */
     background-color:#152704;
    width: 80%;
    color: aliceblue;
    border-radius: 5px;
    padding: 20px;
  margin-top: 20px;

}
.links ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 47px;
  


}

/* home section */
.home{
  display: flex;
    justify-content: center;
    gap: 10em;
    padding: 50px;
    margin: 50px;

}
.home .left{
  display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;}

.home img{
  width: 270px;
  border-radius: 10px 68px
}
.home h3{
  letter-spacing: 2px;
  color: #00000099;
  font-weight: 500;
    font-family: system-ui;
}
.home h1{
  color: #203e03;
  font-size: 65px;

  font-family: system-ui;
}
